h1 {
    font-size: 72px;
}
h2 {
    font-size: 56px;
}
h3 {
    font-size: 40px;
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 40px;
    }
}
