#footer {
    background-color: $bg-color;
    .footer {
        padding-top: 92px;
        .footer-main {
            padding-bottom: 68px;
            @include flexBox(space-between, flex-start);
            .logo {
                color: $text-dark;
                font-size: 1.5rem;
                font-weight: 700;
            }
            .menu,
            .services {
                h5 {
                    color: $primary-color;
                    letter-spacing: 3px;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }
                ul {
                    li {
                        margin: 0.5rem 0;
                        a {
                            color: $text-dark;
                            text-decoration: none;
                        }
                    }
                }
            }
            @media only screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;
                row-gap: 51px;
                text-align: center;
            }
        }
        .social-icons {
            margin-top: -18px;
            @include flexBox();
            .icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: $primary-color;
                @include flexBox();
                // margin: 0 0.25rem;
                margin: 0 4px;
            }
        }
        .footer-copyright {
            border-top: 1px solid #f3d1bf;
            @include flexBox(space-between);
            p {
                color: rgba(57, 20, 0, 0.64);
                font-size: 16px;
            }
            .terms-privacy {
                padding: 43px 0;
                ul {
                    display: flex;
                    column-gap: 68px;
                    li {
                        a {
                            color: $text-dark;
                            font-size: 1rem;
                            text-decoration: none;
                        }
                    }
                }
            }
            @media only screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;

                p {
                    margin-top: 43px;
                }
            }
        }
        @media only screen and (max-width: 992px) {
            // padding-top: 45px;
        }
    }
}
