.container {
    display: grid;
    /* grid-template-columns: 500px 250px 250px;
    grid-template-rows: 100px 100px 100px; */

    /* grid-template: 100px 100px 100px / 250px 250 250px; */
    /* grid-template: 100px 100px 100px / 250px auto 250px; */
    /* grid-template: 100px 100px 100px / auto auto auto; */
    /* grid-template: 100px 100px 100px / 1fr 2fr 4fr; */
    grid-template: 100px 100px 100px / repeat(3, 200px);

    gap: 20px 50px;
    row-gap: 10px;
}

.selected-box {
    order: -1;
}