%primary-button {
    border: 1px solid rgba(255, 255, 255, 0.295743);
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: transparent;
    width: 138px;
    height: 48px;
    font-weight: 900;
    cursor: pointer;
}

%secondary-button {
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: #ef6d58;
    border: none;
    width: 154px;
    height: 48px;
    cursor: pointer;
}
