/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 40px;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
  }
}
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5%;
}

#header .header .contact-btn {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: transparent;
  width: 138px;
  height: 48px;
  font-weight: 900;
  cursor: pointer;
}

#home #banner .banner .contact-us, #home #banner .banner .banner-info .how-we-work {
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #ef6d58;
  border: none;
  width: 154px;
  height: 48px;
  cursor: pointer;
}

#header {
  background-color: #312B49;
  padding: 10px 0;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 515px;
}
#header .header nav ul li {
  color: #fff;
}
#header .header .menu {
  display: none;
}
@media only screen and (max-width: 992px) {
  #header .header nav {
    display: none;
  }
  #header .header .contact-btn {
    display: none;
  }
  #header .header .menu {
    display: block;
  }
}

#footer {
  background-color: #FDF0E9;
}
#footer .footer {
  padding-top: 92px;
}
#footer .footer .footer-main {
  padding-bottom: 68px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#footer .footer .footer-main .logo {
  color: #391400;
  font-size: 1.5rem;
  font-weight: 700;
}
#footer .footer .footer-main .menu h5,
#footer .footer .footer-main .services h5 {
  color: #ef6d58;
  letter-spacing: 3px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#footer .footer .footer-main .menu ul li,
#footer .footer .footer-main .services ul li {
  margin: 0.5rem 0;
}
#footer .footer .footer-main .menu ul li a,
#footer .footer .footer-main .services ul li a {
  color: #391400;
  text-decoration: none;
}
@media only screen and (max-width: 992px) {
  #footer .footer .footer-main {
    flex-direction: column;
    align-items: center;
    row-gap: 51px;
    text-align: center;
  }
}
#footer .footer .social-icons {
  margin-top: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer .social-icons .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ef6d58;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
#footer .footer .footer-copyright {
  border-top: 1px solid #f3d1bf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer .footer-copyright p {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
}
#footer .footer .footer-copyright .terms-privacy {
  padding: 43px 0;
}
#footer .footer .footer-copyright .terms-privacy ul {
  display: flex;
  column-gap: 68px;
}
#footer .footer .footer-copyright .terms-privacy ul li a {
  color: #391400;
  font-size: 1rem;
  text-decoration: none;
}
@media only screen and (max-width: 992px) {
  #footer .footer .footer-copyright {
    flex-direction: column;
    align-items: center;
  }
  #footer .footer .footer-copyright p {
    margin-top: 43px;
  }
}
#home #banner {
  background-color: #312B49;
}
#home #banner .banner {
  padding: 8vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home #banner .banner .banner-info {
  position: relative;
  width: 50%;
}
#home #banner .banner .banner-info h5 {
  color: #ef6d58;
  font-size: 1rem;
  text-transform: uppercase;
}
#home #banner .banner .banner-info h1 {
  font-weight: 800;
  line-height: 80px;
  color: #fff;
  max-width: 513px;
  z-index: 2;
  position: relative;
}
#home #banner .banner .banner-info p {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
#home #banner .banner .banner-image {
  width: 50%;
}
#home #banner .banner .banner-image img {
  width: 100%;
}
#home #banner .banner .contact-us {
  background-color: transparent;
  text-transform: capitalize;
}
#home #banner .banner .star {
  position: absolute;
  top: 5%;
  z-index: 1;
}
#home #banner .banner .message {
  margin-top: 8vh;
  display: flex;
  column-gap: 1rem;
}
#home #banner .banner .message .message-content p {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  margin: 0;
}
#home #banner .banner .message .message-content .person-name {
  color: #fff;
  margin-left: 5px;
}
@media only screen and (max-width: 992px) {
  #home #banner .banner {
    flex-direction: column-reverse;
  }
  #home #banner .banner .banner-info {
    width: 100%;
  }
  #home #banner .banner .banner-info .star {
    display: none;
  }
  #home #banner .banner .banner-image {
    width: 100%;
  }
}
#home #partners {
  background-color: #FDF0E9;
}
#home #partners .partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 76px 0;
  border-bottom: 1px solid #f3d1bf;
}
@media only screen and (max-width: 992px) {
  #home #partners .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px 41px;
  }
}

/*# sourceMappingURL=main.css.map */
